<%- include("header") %>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>All Admins</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">

      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">All admin data here</h5>

            <div class="header shadow-none p-0 w-100">

              <div class="search-bar">
                <form class="search-form d-flex align-items-center">
                  <input type="text" name="search" placeholder="Search" title="Enter search keyword"
                    value="<%= search %>">
                  <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End Search Bar -->
            </div>

            <!-- Table with stripped rows -->
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Number</th>
                  <th scope="col">DP</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <%var i=1; for(var Data of AdminData){ %>
                  <tr>
                    <th scope="row">
                      <%= i %>
                    </th>
                    <td>
                      <%= Data.name %>
                    </td>
                    <td>
                      <%= Data.email %>
                    </td>
                    <td>
                      <%= Data.gender %>
                    </td>
                    <td>
                      <%= Data.mNumber %>
                    </td>
                    <td>
                      <img src="<%= Data.Admin_Image %>" width="35px" height="35px" class="rounded-circle" alt="">
                    </td>
                    <% if(Data.isActive==true){%>
                      <td><a href="/admin/active/<%= Data.id %>" class="btn btn-success">Active</a></td>
                      <% }else { %>
                        <td><a href="/admin/deactive/<%= Data.id %>" class="btn btn-danger">Deactive</a></td>
                        <%}%>
                          <td><a href="/admin/delete/<%= Data.id %>"><i class="ri-delete-bin-7-line text-dark"></i></a>
                            | <a href="/admin/update/<%= Data.id %>"><i class="ri-edit-2-line text-dark"></i></a></td>
                  </tr>
                  <% i++;} %>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
            <nav aria-label="Page navigation example ">
              <ul class="pagination justify-content-center">
                <% if(currentPage !=0){ %>

                  <li class="page-item">
                    <a class="page-link text-dark" href="?page=<%= parseInt(currentPage)-1 %>&search=<%= search %>"
                      aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <% } %>

                    <li class="page-item"><a class="page-link text-dark" href="?page=<%= currentPage %>&search=<%= search %>">
                        <%= parseInt(currentPage)+1 %>
                      </a></li>
                    <% if(parseInt(currentPage)+1<totalDocumets){ %>

                      <li class="page-item">
                        <a class="page-link text-dark" href="?page=<%= parseInt(currentPage)+1 %>&search=<%= search %>"
                          aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <% } %>
                        </a>
                      </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      </div>
    </section>

  </main><!-- End #main -->

  <%- include("footer") %>