<%- include("user_header") %>


    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li class='active'>Shopping Cart</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->

    <div class="body-content outer-top-xs">
        <div class="container">
            <div class="row ">
                <div class="shopping-cart">
                    <div class="shopping-cart-table ">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-romove item">Remove</th>
                                        <th class="cart-description item">Image</th>
                                        <th class="cart-product-name item">Product Name</th>
                                        <th class="cart-qty item">Quantity</th>
                                        <th class="cart-sub-total item">Price</th>
                                        <th class="cart-total last-item">Total</th>
                                    </tr>
                                </thead><!-- /thead -->

                                <tbody>

                                    <% var i=1; var sum = 0; for(var cart of cartData){ %>

                                        <tr>
                                            <td class="romove-item"><a href="/deleteItem/<%= cart.id %>" title="cancel" class="icon"><i
                                                        class="fa fa-trash-o"></i></a></td>
                                            <td class="cart-image">
                                                <a class="entry-thumbnail"
                                                    href="/singleProduct/<%= cart.productId.id %>">
                                                    <img src="<%= cart.productId.pri_image %>" alt="">
                                                </a>
                                            </td>
                                            <td class="cart-product-name-info">
                                                <h4 class='cart-product-description'><a
                                                        href="/singleProduct/<%= cart.productId.id %>">
                                                        <%= cart.productId.title %>
                                                    </a></h4>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="rating rateit-small"></div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="reviews">
                                                            (06 Reviews)
                                                        </div>
                                                    </div>
                                                </div><!-- /.row -->
                                                <div class="cart-product-info">
                                                    <span class="product-color">COLOR:<span>Blue</span></span>
                                                </div>
                                            </td>
                                            <td class="cart-product-quantity">
                                                <div class="quant-input">
                                                    <input type="number" id="proQty<%= i %>" value="<%= cart.quantity %>" min="1" max="5" onchange="updateQty('<%= cart.id %>','<%= i %>','<%= cart.productId.price %>')">
                                                </div>
                                            </td>
                                            <td class="cart-product-sub-total"><span class="cart-sub-total-price">
                                                    <%= cart.productId.price %>
                                                </span></td>
                                            <td class="cart-product-grand-total"><span class="cart-grand-total-price" id="gTotal<%= i %>">
                                                    <%= parseInt(cart.productId.price)*parseInt(cart.quantity) %>
                                                </span></td>
                                        </tr>

                                        <% i++; sum += parseInt(cart.productId.price)*parseInt(cart.quantity) } %>

                                </tbody><!-- /tbody -->
                            </table><!-- /table -->
                        </div>
                    </div><!-- /.shopping-cart-table -->

                    <div class="col-md-12 col-sm-12 cart-shopping-total">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="cart-sub-total">
                                            Subtotal<span class="inner-left-md" id="subTotal"><%= sum %></span>
                                        </div>
                                        <div class="cart-grand-total">
                                            Grand Total<span class="inner-left-md" id="grandTotal"><%= sum %></span>
                                        </div>
                                    </th>
                                </tr>
                            </thead><!-- /thead -->
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="cart-checkout-btn pull-right">
                                            <a href="/checkout" class="btn btn-primary checkout-btn">PROCCED TO
                                                CHEKOUT</a>
                                            <span class="">Checkout with multiples address!</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody><!-- /tbody -->
                        </table><!-- /table -->
                    </div><!-- /.cart-shopping-total -->
                </div><!-- /.shopping-cart -->
            </div> <!-- /.row -->
            <!-- ============================================== BRANDS CAROUSEL ============================================== -->
            <div id="brands-carousel" class="logo-slider wow fadeInUp">

                <div class="logo-slider-inner">
                    <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
                        <div class="item m-t-15">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand1.png" src="/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item m-t-10">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand2.png" src="/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand3.png" src="/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand4.png" src="/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand5.png" src="/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand6.png" src="/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand2.png" src="/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand4.png" src="/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand1.png" src="/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand5.png" src="/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->
                    </div><!-- /.owl-carousel #logo-slider -->
                </div><!-- /.logo-slider-inner -->

            </div><!-- /.logo-slider -->
            <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
        </div><!-- /.container -->
    </div><!-- /.body-content -->



    <%- include("user_footer") %>


    <!-- Cart quantity update -->
    <script>

        function updateQty(cartId,index,price){
            
            let newQty = document.getElementById("proQty"+index).value;

            // Updating Elements
            let oldTotal = document.getElementById("subTotal").innerHTML;
            let oldItemTotal = document.getElementById("gTotal"+index).innerHTML;
            let newTotal = parseInt(oldTotal) - parseInt(oldItemTotal) + parseInt(newQty)*parseInt(price);

            document.getElementById("subTotal").innerHTML = newTotal;
            document.getElementById("grandTotal").innerHTML = newTotal;
            document.getElementById("gTotal"+index).innerHTML = parseInt(newQty)*parseInt(price);

            $.ajax({
                url : "/updateQuantity",
                method : "POST",
                data : {
                    newQty : newQty,
                    cartId : cartId,
                    userId : '<%= locals.userData.id %>'
                },
                success : (res) => {

                }
            });

        }

    </script>