<%- include("../header") %>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>All Products</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Product</li>
          <li class="breadcrumb-item active">View Products</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
    <form style="width: 300px;" class="d-flex my-4">
        <input type="text" name="search" value="<%= search %>" class="form-control" placeholder="Search here...">
        <input type="submit" value="Search" class="border border-0">
    </form>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead style="margin: 10px 0 !important;">
                                <tr>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th>Old Price</th>
                                    <th>Description</th>
                                    <th>Colours</th>
                                    <th>Sizes</th>
                                    <th>Primary Image</th>
                                    <th>Multiple Image</th>
                                    <th>Category</th>
                                    <th>Sub Category</th>
                                    <th>Extra Category</th>
                                    <th>Brand</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(adData != "")
                                { var i = 0; for(var v of adData){ %>
                                    <tr class="tr-shadow">
                                        <td><%= v.title %></td>
                                        <td><%= v.price %></td>
                                        <td><%= v.oldPrice %></td>
                                        <td><%= v.desc %></td>
                                        <% v.colors.map((v) => { %>
                                            <input type="hidden" value="<%= v %>" name="getColorNames">
                                        <% }) %>
                                        <td class="colorElems"> 
                                            <% v.colors.map((v) => { %>
                                                <div class="rounded-circle" style="height: 20px; width: 20px;"></div>
                                            <% }) %>    
                                        </td>
                                        <td> 
                                            <% v.sizes.map((v) => { %>
                                                <%= v %>
                                            <% }) %>    
                                        </td>
                                        <td> <img src="<%= v.pri_image %>" height="50" /> </td>
                                        <td id="<%= v.id %>"> 
                                            <% v.multi_images.map((j,i) => { %>
                                                <div class="d-flex">
                                                    <img src="<%= j %>" id="<%= v.id %>_<%= i %>" height="50px" />
                                                    <i class="fa-solid fa-trash text-dark" style="cursor: pointer;" onclick="deleteMultiImages('<%= j %>','<%= v.id %>')"></i>
                                                </div>
                                            <% }) %>    
                                        </td>
                                        <td><%= v.categoryId.category_name %></td>
                                        <td><%= v.subCategoryId.sub_category_name %></td>
                                        <td><%= v.exCategoryId.ex_category_name %></td>
                                        <td><%= v.brandId.brand_name %></td>
                                        <td><%= v.typeId.type_name %></td>
                                        <td>
                                            <% if(v.isActive == "true") { %>
                                                <a href="/admin/product/deactive/<%= v.id %>" class="text-success">Active</a>
                                            <% } else { %>
                                                <a href="/admin/product/active/<%= v.id %>" class="text-danger">Deactive</a>
                                            <%}%>    
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a href="/admin/product/updateData/<%= v.id %>" class="mx-1">
                                                    <button class="item border border-0 bg-white fs-5" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="fa-solid fa-user-pen"></i>
                                                    </button>
                                                </a>
                                                <a href="/admin/product/deleteData/<%= v.id %>" class="mx-1">
                                                    <button class="item border border-0 bg-white fs-5" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <% i++; } } else{ %>
                                        <tr>
                                            <td colspan="10" class="text-center">No Data Found</td>
                                        </tr>
                                    <% } %>
                                    <tr class="spacer"></tr>
                            </tbody>
                        </table>
                        <ul class="pagination">
                            <% var cPage = parseInt(currentPage)+1 %>


                            <% if(cPage>1){ %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= parseInt(currentPage)-1 %>&search=<%= search%>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            <% } %>
                            <li class="page-item"><a class="page-link" href="?page=<%= currentPage %>&search=<%= search %>"><%= parseInt(currentPage)+1 %></a></li>
                            <% if(cPage<totalPages){ %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= parseInt(currentPage)+1 %>&search=<%= search%>" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </div>

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>

<%- include("../footer") %>